name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install GTest
      run: |
        sudo apt-get install libgtest-dev
        cd /usr/src/googletest/googletest
        sudo mkdir build
        cd build
        sudo cmake ..
        sudo make
        ls -lh lib
        sudo cp lib/libgtest* /usr/local/lib/
        #sudo make install
        #cd ..
        #sudo rm -rf build
        #sudo mkdir /usr/local/lib/googletest
        #sudo ln -s /usr/lib/libgtest.a /usr/local/lib/googletest/libgtest.a
        #sudo ln -s /usr/lib/libgtest_main.a /usr/local/lib/googletest/libgtest_main.a
    - name: Install Crypto++
      run: |
        wget https://abumq.github.io/downloads/cryptocpp.tar.gz
        tar xf cryptocpp.tar.gz
        cd cryptopp-CRYPTOPP_5_6_5
        wget https://abumq.github.io/downloads/pem_pack.zip
        unzip pem_pack.zip
        cmake .
        make
        sudo make install
    - name: Install Ripe Cryptography
      run: |
         git clone git@github.com:abumq/ripe.git
         mkdir build
         cd build
         cmake ..
         make
         sudo make install
    - uses: actions/checkout@v3
    - name: Run CMake
      run: |
        mkdir build
        cd build
        cmake -Dtest=ON ..
    - name: make
      run: make
    - name: Run tests
      run: ./licensepp-unit-tests
